:host{
  text-align: center;
}

input, select {
  border: 1px grey solid;
  padding: 3px;
  border-radius: 3px;
  margin: 10px;
}

b{
  color: var(--bs-teal);
  margin: 20px;
  padding:20px;
  font-size: 26px;

}

.btn-primary{
  margin: 8px;
  margin-right: 12px;
  background-color: var(--bs-grey);
  border-color: var(--bs-teal);
}

h1{
  margin: 20px;
  color: var(--bs-teal);
}
